extends layout
block content
  div.main
    each val, index in experiment
      div.exp.expPrev
        div.textExp
          a(href= "./experiment" + val.url)
            h2.expTitle #{val.title}
            img(src = val.imgPath[1]).expPic 
      
        
        
