extends layout
block content
  h2  = robin est de droite...
  div.main
    each val, index in experiment
      div.exp
        div.textExp
          a(href= "./experiment" + val.url)
            h2 #{val.title}
            p #{val.content}  
        each val2, index2 in val.imgPath
            img(src = val2 )
        
        
