extends layout
block content
  div.main
    div.exp
      h2.expTitleView #{experiment.title}
      p.expContentView #{experiment.content}  
      - for( var i = 1; i < (experiment.imgPath.length + 1) ; ++i ) {
        img( src = experiment.imgPath[i] ).expGallery  
      - }
        
