doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    video#video
    button#startbutton Shot Pic
    canvas#canvas
    script(src='https://code.jquery.com/jquery-2.1.4.js')
    script(src='javascripts/facepp-sdk.js')
    script(src='javascripts/cam.js')
    
