extends layout

block content
  div.main
    each val, index in project
      div(style= "background-image:url(./" + val.imgPath[1] + "), linear-gradient(150deg, rgba(00,00,00,0.8), rgba(0,0,0,0) 80%);   " class = val.class ).project
        a(href='/project' + val.url )
          div( class = val.class ).textProject
            h2  #{val.title}
        
