extends layout

block content
  div.main
    each val, index in project
      div(style= "background-image:url(" +source + ")").project
        div.textProject
          h2 #{projectName}
          p #{projectDescript}
        
