extends layout

block content
  div.main
    div.projectContent
      div(style= "background-image:url(" +source + ")").project
        div.textProject
          h1 #{project}
          p #{projectDescript}
