extends layout

block content
  div.cover
    div.bio
      h2 Hello.
      p.intro Moi c'est Arthur Rob, et je me défini plutôt comme un : #[span#mySelf Designer Interactif]
      p Je sors de l'école des Gobelins, en section Conception Réalisation Multimédia, option Développement.
      p Auparavant, j'ai étudié dans à la fac de Marne la vallée en Études Visuelle Multimédias, et Arts Numérique. Durant mes années d'études j'ai enrichie ma culture artistique et développé des compétences dans plusieurs domaines différents comme le code, le grpahisme, l'installation etc...
      //p Voilà les projets que j'ai réalisé au cours des 2 dernières années
  div.main
    each val, index in project
      div(style= "background-image:url(./" + val.imgPath[1] + "),  linear-gradient(150deg, rgb(204, 204, 204), rgba(0, 0, 0, 0) 50%);  " class = val.class ).project
        a(href='/project' + val.url )
          div( class = val.class ).textProject
            h2  #{val.title}
block script
  script(src='/scripts/projectView.js', type ='text/javascript')
