doctype html
html
  head
    title Arthur Rob

    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', href='/stylesheets/font.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    
  body
  div.menu
    ul
      li
        a(href='/') Home
      li
        a(href='/experiment') Experiments
      li
        a(href='/contact')  Contact
    
    h1.name arthur rOb
  div.container
    block content

  div.footer
    .footerLink
      a(href='https://github.com/tournevis').git
        img(src='/images/octocat.png').footerImg 
      a(href='https://twitter.com/Arth_Rob').tw 
        img(src='/images/twitter.png').footerImg 
      a(href='http://codepen.io/Tournevis/').codep
        img(src='/images/codepen.png').footerImg 
  block script
  
    
