doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/font.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  div.headWarp
    h1.name arthur rOb
    div.menu
      ul
        li
          a(href='/') Home
        li
          a Project 
        li
          a(href='/contact')  Contact
  block content
