doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  h1.name ARTHUR ROB
  div.menu
    ul
      li 
        a Home
      li 
        a Project
      li 
        a Contact
  block content
    
