doctype html
html
  head
    title= title

    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    script(src='/scripts/projectView.js', type ='text/javascript')
    link(rel='stylesheet', href='/stylesheets/font.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  div.menu
    ul
      li
        a(href='/') Home
      li
        a(href='/experiment') Experiments
      li
        a(href='/contact')  Contact
    h1.name arthur rOb
  block content
