
@media only screen and (max-width: 785px) {
  .container{
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    margin: 0;
    padding-top: 140px;
  }

  .menu{
    width: 100%;
    position: fixed;
    height: auto;
    padding-top: 8px;
    padding-bottom: 10px;
  }
  h1.name{
    content: "";
    display: none;
  }
  h2{
    position: relative;
  }
  textProject > h2::after{
    content: "";
    z-index: -2;
    position: absolute;
    bottom:3px;
    left: 10px;
    height: 8px;
    width: 150px;
    background: rgba(80, 255, 174, .8 );
  }
  li{
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline;
    margin-right: 300px;
  }
  .main{
    width:80%;
  }
  .project{
    float:none;
    width:100%;
  }
  .project:nth-child(2n){
    margin-left: 0%;
  }
  .bio h2{
    overflow-x: hidden;
    font-size: 1000%;
  }
  .expPic {
    width: 100%;
  }
  .expTitle{
    font-size: 500%;
    top:0;
    right:0;
    left:50%;
    display: inline-block;
    transform-origin: 50% 50%;
    transform: translate(-50%,50%);

  }
}
@media only screen and (max-width: 450px) {
  .bio h2{
    font-size: 800%;
  }
}
@media only screen and (max-width: 350px) {
  .bio h2{
    font-size: 600%;
  }
}
@media only screen and (min-width: 1280px) {
  .bio {
    width:70%;
    margin-left: 15%;
  }
  .main{
    width:70%;
    margin-left: 15%;
  }
  .menu{
    padding-left: 15%;
    padding-right: 15%;
  }
  .projectImg{
        width: 170%;
            margin-left: -34%;
  }
}
@media only screen and (min-width: 1400px) {
  .bio {
    width:60%;
    margin-left: 20%;
  }
  .main{
    width:60%;
    margin-left: 20%;
  }
  .menu{
    padding-left: 20%;
    padding-right: 20%;
  }
  .projectImg{
        width: 170%;
            margin-left: -34%;
  }
}
