
@media only screen and (max-width: 785px) {
  .container{
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    margin: 0;
    padding-top: 140px;
  }
  .menu{
    width: 100%;
    position: fixed;
    height: auto;
    padding-top: 8px;
    padding-bottom: 10px;
  }
  h1.name{
    content: "";
    display: none;
  }
  h2{
    position: relative;
  }
  textProject > h2::after{
    content: "";
    z-index: -2;
    position: absolute;
    bottom:3px;
    left: 10px;
    height: 8px;
    width: 150px;
    background: rgba(80, 255, 174, .8 );
  }
  li{
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline;
    margin-right: 300px;
  }
  .main{
    width:80%;
  }
  .project{
    float:none;
    width:100%;
  }
  .project:nth-child(2n){
    margin-left: 0%;
  }
  .bio h2{
    overflow-x: hidden;
    font-size: 1000%;
  }
}
@media only screen and (max-width: 450px) {
  .bio h2{
    font-size: 800%;
  }
}
@media only screen and (max-width: 350px) {
  .bio h2{
    font-size: 600%;
  }
}
