
body {
  position: relative;
  color:#333;
  margin :-1px;
  padding :1px;
  overflow: hidden;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
  text-decoration:none;
}
a:hover{
  cursor: alias ;
}
/**** Header Part ****/
.menu{
  position:fixed;
  width: 100%;
}
ul{
  list-style-type:none;
}
h1{
  margin: 0;
  margin-left: 5%;
  margin-top: 20px;
  font-size:1.2em;
}
li{
  position:relative;
  float: left;
  margin-left: 30px;
  font-size: 1.4em;
  text-decoration: none;
}
li::after{
  position: absolute;
  top: 60%;
  left: 15%;
  content: "";
  width: 100%;
  height:0.5em;
  border: #00FFBE solid 5px;
  height:0;
  opacity:.7;
  z-index: -2;
  transition: all .4s;
}
li:hover::after {
  opacity:.4;
  transform:translateY(-50%);
  height:100%;
  transition: all .4s;
}
.main{
  position: relative;
  width: 80%;
  margin-top:50px ;
  margin-left: 10%;
}
.projectContent{
  position: relative;
  width:100%;
  margin: auto;
}
.project{
  position: relative;
  width: 50%;
  height: 50%;
  z-index: 2
}
.project::before{
  z-index: -3;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top:5%;
  left:5%;
  border: #00FFBE solid 5px;
  transition: all .4s;

}
.project:hover::before{
  background:#00FFBE ;
  top:0;
  left:0;
  opacity: 0.5;
  border: #00FFBE solid 0px;
}
.textProject{
  padding-top: 5%;
  padding-left: 8%;
  z-index: 5;
  font-size:2em;
  color: #FFF;
}
