
body {
  position: relative;
  margin :-1px;
  padding :1px;
  overflow-x: hidden;
  font-family: "Gotham-Book";
  font-size: 1em;
// background: url('../images/background.png');
  background-size: cover;
   color:#222;
 height: 100vh;
}
::-webkit-scrollbar {
    display: none;
}
/* Liens visités */

a {
  text-decoration:none;
  color: #222;
}
a:hover{cursor: alias ;}
a:visited { color:#222}

/**** Header Part ****/
.menu{
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  width: 100%;
  padding-left: 10%;
  padding-right:10%;

  height: 60px;
  background: rgba(255, 255, 255, 0.7);
  font-family: "GothamBold";
}
ul{
  list-style-type:none;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
}
.name{
  font-family: "Baron";
  width:200px;
  font-size: 2em;
  margin: 0;
  float: right;
  text-align: right;
}
li{
  position:relative;
  float: left;
  padding-top: 0;
  margin-right: 35px;
  font-size: 1.5em;
  text-decoration: none;
}
li::after{
  position: absolute;
  top: 60%;
  left: 10%;
  content: "";
  width: 90%;

  height:0.5em;
  border:rgba(33, 255, 185, 1) solid 5px;
  /*background-color:rgba(80, 255, 174, 0.95) ;*/
  height:0;

  opacity:.7;
  z-index: -2;
  transition: all .4s;
}
li:hover::after {
  opacity:.6;
  transform:translateY(-50%);
  height:100%;
  transition: all .4s;
}
li:nth-child(2)::after{
  border: #FFE73B solid 5px;
  background: #FFE73B;
}
/*
li:nth-child(3)::after{
  border: #FF2A2A solid 5px;
  background: #FF2A2A;
} */
/*SEARCH  */
input[type="search"]{
    position: relative;
  padding:0;
  font-family:  "GothamBold";
  -webkit-appearance: none;
  font-size: 1.5em;
  color: black;
  opacity: 1;
  border: none;
  width: 150px;
  transition: all .2s;
}
.search:focus {
	border: none;
	outline-width: 0;
}
.search::after{
  position: absolute;
  top: 60%;
  left: 10%;
  content: "";
  width: 90%;

  height:0.5em;
  border:rgba(80, 255, 174, 0.95) solid 5px;
  background-color:rgba(80, 255, 174, 0.95) ;
  height:0;

  opacity:.7;
  z-index: -2;
  transition: all .4s;
}
input[type="search"]::-webkit-input-placeholder {
   color: black;
}

input[type="search"]::-moz-placeholder { /* Firefox 18- */
   color: black;
}

input[type="search"]::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}
/*  PROJECT CARD   */
.main{
  position: relative;
  display: inline-block;
  width:80%;
  margin-left: 10%;
}
.project{
  position: relative;
  z-index: 1;
  float:left;
  width:48%;
  height:300px;
  margin:auto;
  margin-top: 4%;
  margin-bottom: 4%;
  background-size: cover;
  background-blend-mode: multiply;
  transition: all .4s;
}
.project a{
  display: block;
  position: relative;
  height: 100%;
}
.project:nth-child(2n){
  margin-left: 4%;
}
@media screen and (min-width: 640px) {
    .project::before{
    content: "";
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: -2;
    position:absolute;
    top:10px;
    left: 10px;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 6px;
    border-color: rgba(80, 255, 174, 1.0 );
    transition: all .4s;
  }
    .project:hover::before{
    top:0px;
    left: 0px;
    width: 100%;
    height:100%;
    border:solid 6px rgba(80, 255, 174, 1.0 );
    background:  rgba(80, 255, 174, .6 );
  }
  /*
  .install::before{
    border-color:  #FFE73B;
  }
    .install:hover::before{
    border:solid 6px #FFE73B;
    background:   #FFE73B;
    opacity:0.9;
  }*/
}

@media screen and (max-width: 640px) {
  .menu{
    width: 100%;
  }
  h1.name{
    content: "";
  }
  h2{
    position: relative;
  }
  h2::after{
    content: "";
    z-index: -2;
    position: absolute;
    bottom:3px;
    left: 10px;
    height: 8px;
    width: 150px;
    background: rgba(80, 255, 174, .8 );
  }
  .main{
    width:85%;
  }
  .project{
    float:none;
    width:100%;
  }
  .project:nth-child(2n){
    margin-left: 0%;
  }
}
.textProject{
  padding-top: 5%;
  padding-left: 5%;
  z-index: 5;
  color: #FFF;
}
.textProject h2{
  position: relative;
    display: inline;
    font-family: "gothambold";
    margin: auto;
    text-align: center;
    width:80%;
    margin-top: 120px;
}
.textProject h2::after{
    position: absolute;
        top: 65%;
    left: 15px;
    width:90%;
    content: "";
    height:0.5em;
    border:rgba(80, 255, 174, 0.95) solid 5px;
    background-color:rgba(80, 255, 174, 0.95) ;
    height:0;
    z-index: -2;
    opacity:.7;
}
/*
.install h2::after{
  border: #FFE73B solid 5px;
  background-color: #FFE73B ;
}
*/
.textProject p{
  font-family: "Gotham-Book";
  margin-top: 10px;
}


/****** PROJECT VIEW  *****/


.projectHead{
    position: relative;
    width:100%;
    height:4em;
    display: inline-block;
}
.projectHead > h2{
position:relative;
float: left;
  font-size: 1.8em;
  color:#222;
  font-family:"gothambold";

}
.projectView{
  text-align: justify;
}
.projectHead > h2::after{
  position: absolute;
      top: 65%;
  left: 15px;
  width:90%;
  content: "";
  height:0.5em;
  border:rgba(80, 255, 174, 0.95) solid 5px;
  background-color:rgba(80, 255, 174, 0.95) ;
  height:0;
  z-index: -2;
  opacity:.7;
}
.projectVideo{
  position:relative  ;
  width:100%;
  min-height: 300px;
  height: 400px;
  padding-top:10px ;
  display:inline-block;
}
iframe{
  position:absolute;
  min-height:100%;
  display:block;
  left:50%;
  -webkit-transform: translateX(-50%);
  width:100%;
  height: 100%;
}
.projectImg{
    width:130%;
    height:400px;
    position:relative;
    margin-left:-14%;
    display:inline-block;
    overflow:hidden;
}
.projectImg > img {
    position:absolute;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
}
.gallery{
  margin-top:40px;
  width:100%;
  height:auto;
}
/* EXPERIMENT */

.exp{

}
.exp:nth-child(2n) {
  background:#E5FBF7;
}
/* FOOTER */
.footer{
  position:relative;
  display: inline-block;
    margin: auto;
  margin-top: 10px;
    width:100%;

  //background-color: #EEE;
}
.footerLink{
  position:absolute;
  top:50%;
  min-height:100%;
  display:block;
  left:50%;
  -webkit-transform: translate(-50%, 0%);


}
.footerImg {
  position:relative;
  float:left;
  opacity: .6;
  width:32px;
  margin: 10px;
  -webkit-filter: grayscale(100%);
 -moz-filter: grayscale(100%);
 -ms-filter: grayscale(100%);
 -o-filter: grayscale(100%);
 filter: grayscale(100%);
 transition: all .5s;
}
.footerImg:hover{
  -webkit-filter: grayscale(0%);
 -moz-filter: grayscale(0%);
 -ms-filter: grayscale(0%);
 -o-filter: grayscale(0%);
 filter: grayscale(0%);
}
